body {
  font-family: Roboto;
}
.link {
  color: #2e2f42;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.button-filter {
  background: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button-filter:hover,
.button-filter:focus {
  background: #404bbf;
}
